html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-main {
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    font-size: 1.8rem;
}

.footer-link {
    text-decoration: none;
    font-size: 1.5rem;
}

h2, h1 {
    text-align: center;
    font-size: 3rem;
    margin: 5px;
}

.main-body {
    width: 100%;
    height: 100vh;
}

.footer-main {
    width: 100%;
    height: 10vh;  
}
 
.shop-now {
    size: 300px;
    color: white;
    background-color: red;
    font-size: 30px;
    outline-style: groove;
    border-radius: 5px;
}

.shop-now:hover {
    border: 1px solid black;
}

.form-border {
    background-color: whitesmoke;
    margin: 20px auto;
    padding: 10px;
}

.border {
    margin: auto 5px;
    color:black;
    outline-style: inset;
    outline-width: 1px;
    background-color: whitesmoke;
}

.border:hover {
    margin: auto 5px;
    color:black;
    outline-style: groove;
    outline-width: 1px;
    background-color: gold;
}

.mylogo{
    width: 60px;
    margin: auto 2px;
}

.all-products {
    padding: 10px;
    vertical-align: center;
    margin: 10px auto;
}

.card-img {
    width: 50px;
    height: 150px;
    padding-right: 15px;
}

/* 
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  } */

     