html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-main {
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
}

.main-body {
    width: 100%;
    height: 100vh;
}

.footer-main {
    width: 100%;
    height: 10vh;  
}
 
.shop-now {
    size: 300px;
    color: white;
    background-color: red;
    font-size: 30px;
    outline-style: groove;
    border-radius: 5px;
}

.shop-now:hover {
    border: 1px solid black;
}

.form-border {
    background-color: whitesmoke;
    margin: 20px auto;
    padding: 10px;
}

/* 
.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  } */

     